* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-size: 64px;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: local("Italic"), url("./fonts/montserrat-italic-webfont.woff2") format("woff2"), url("./fonts/montserrat-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Light"), url("./fonts/montserrat-light-webfont.woff2") format("woff2"), url("./fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Medium"), url("./fonts/montserrat-medium-webfont.woff2") format("woff2"), url("./fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Bold"), url("./fonts/montserrat-bold-webfont.woff2") format("woff2"), url("./fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Regular"), url("./fonts/montserrat-regular-webfont.woff2") format("woff2"), url("./fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Semibold"), url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("./fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #313131;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-content {
  position: relative;
  padding: 36px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header-link {
  margin-right: auto;
}

.header-nav {
  margin-right: 56px;
}

.nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  line-height: 19px;
  color: #275553;
  padding-bottom: 4px;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.nav-link:hover {
  -webkit-box-shadow: 0px 3px 0px 0px #275553;
  box-shadow: 0px 3px 0px 0px #275553;
}

.nav-item:not(:last-child) {
  margin-right: 56px;
}

.nav-item:last-child {
  margin-right: auto;
}

.nav-link:focus-visible, .nav-btn:focus-visible {
  outline: 1px solid #275553;
  outline-offset: 5px;
  border-radius: 5px;
}

.nav-btn {
  line-height: 19px;
  color: #275553;
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid #275553;
  border-radius: 25px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.nav-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-btn:focus-visible.popup-link {
  outline-color: #275553;
  border-radius: 25px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-content {
  position: relative;
  max-width: 800px;
  background-color: #fff;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
}

.popup-title {
  margin-bottom: 65px;
  padding-top: 45px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #212121;
  text-align: center;
}

.popup-block {
  padding: 0 118px 0 118px;
}

.popup-name {
  margin-right: 45px;
}

.popup-name, .popup-amount {
  display: inline-block;
}

.popup-name input,
.popup-amount input {
  padding: 13px 0;
  font-size: 20px;
  color: #999999;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.popup-name label,
.popup-amount label {
  display: block;
}

.popup-btn {
  min-width: 100%;
  padding: 17px 300px;
  background: #F47648;
  opacity: 0.7;
  -webkit-box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.popup-rate {
  margin-bottom: 38px;
}

.popup-subtitle {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 14px;
}

.popup-item {
  padding: 5px 0;
}

.popup-item:not(:last-child) {
  margin-bottom: 35px;
}

.popup-input {
  /* display: inline-block; */
  margin-right: auto;
}

.popup-input label {
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}

.popup-date {
  margin-bottom: 38px;
}

.popup-date label {
  display: block;
  font-size: 14px;
}

.popup-date input {
  width: 260px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
  cursor: pointer;
}

.popup-comment {
  margin-bottom: 50px;
}

.popup-comment label {
  display: block;
}

.popup-comment textarea {
  height: 40px;
  padding: 10px 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.popup-link:focus-visible {
  outline: 1px solid #275553;
  outline-offset: 5px;
  border-radius: 5px;
  outline-color: #fff;
}

.popup.open {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-animation: open .7s 1;
          animation: open .7s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: visible;
}

@-webkit-keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup.close {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-animation: close .6s 1;
          animation: close .6s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

@-webkit-keyframes close {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes close {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.popup.open .popup-content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.block-subtitle {
  margin-bottom: 25px;
}

.block-content {
  padding-top: 340px;
  padding-left: 64px;
  padding-right: 64px;
}

.block-btn {
  padding: 17px 0px;
  font-size: 18px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #212121;
  background-color: transparent;
  -webkit-box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.25);
}

.block-descr {
  display: block;
  margin-bottom: 100px;
}

.block-background1, .block-background2, .block-background3, .block-background4, .block-background5 {
  background-repeat: no-repeat;
  background-position: 0px 273px, top;
}

.block-background1 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block1_1.jpg");
}

.block-background2 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block1_2.jpg");
}

.block-background3 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block1_3.jpg");
}

.block-background4 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block1_4.jpg");
}

.block-background5 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block1_5.jpg");
}

.block-background2_1, .block-background2_2, .block-background2_3 {
  background-repeat: no-repeat;
  background-position: 0px 273px, top;
}

.block-background2_1 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block2_1.jpg");
}

.block-background2_2 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block2_2.jpg");
}

.block-background2_3 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block2_3.jpg");
}

.block-background3_1, .block-background3_2, .block-background3_3 {
  background-repeat: no-repeat;
  background-position: 0px 273px, top;
}

.block-background3_1 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block3_1.jpg");
}

.block-background3_2 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block3_2.jpg");
}

.block-background3_3 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block3_3.jpg");
}

.block-background5_1, .block-background5_2, .block-background5_3, .block-background5_4 {
  background-repeat: no-repeat;
  background-position: 0px 273px, top;
}

.block-background5_1 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block5_1.jpg");
}

.block-background5_2 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block5_2.jpg");
}

.block-background5_3 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block5_3.jpg");
}

.block-background5_4 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block5_4.jpg");
}

.block-background6_1, .block-background6_2, .block-background6_3 {
  background-repeat: no-repeat;
  background-position: 0px 273px, top;
}

.block-background6_1 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block6_1.jpg");
}

.block-background6_2 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block6_2.jpg");
}

.block-background6_3 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block6_3.jpg");
}

.block-background7_1, .block-background7_2, .block-background7_3 {
  background-repeat: no-repeat;
  background-position: 0px 273px, top;
}

.block-background7_1 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block7_1.jpg");
}

.block-background7_2 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block7_2.jpg");
}

.block-background7_3 {
  background-image: url("./img/popup_block1_1.png"), url("./img/popup_block7_3.jpg");
}

.main-block {
  position: relative;
}

.main-swiper {
  position: absolute;
  max-height: 833px;
  width: 100%;
}

.main-wrapper {
  -webkit-transform: none;
          transform: none;
}

.burger-btn {
  display: none;
  position: relative;
  width: 24px;
  height: 3px;
  background-color: #275553;
  border-radius: 1px;
}

.burger-btn::before, .burger-btn::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  background-color: #275553;
  border-radius: 1px;
  left: 0px;
}

.burger-btn::before {
  top: -8px;
}

.burger-btn::after {
  top: 8px;
}

/* .burger {
    &-menu {
        position: relative;
        top: 0;
        left: 0;
    }
} */
.menu-burger {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 0;
  z-index: 4;
}

.menu-content {
  padding: 102px 72px;
  text-align: center;
}

.menu-item:not(:last-child) {
  margin-bottom: 56px;
}

.menu-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  line-height: 32px;
  color: #275553;
}

.menu-close {
  position: absolute;
  top: 30px;
  right: 24px;
}

.menu-burger.active {
  display: block;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.swiper-slide-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*


&-next,
        &-prev {
            width: 39px;
            height: 39px;
            background-image: url('./icon/right_arrow.svg');
            background-repeat: no-repeat;
            top: 91%;
        }
        &-next {
            left: 75px;
        }
        &-prev {
            transform: rotate(180deg);
            top: 91%;
        }
        &-prev:focus-visible,
        &-next:focus-visible {
            outline: 1px solid #fff;
            outline-offset: 4px;
            border-radius: 50%;
        }

*/
.hero-content {
  position: relative;
  z-index: 2;
}

.hero-swiper {
  position: relative;
  max-width: 550px;
  height: 350px;
}

.hero-swiper-next, .hero-swiper-prev {
  width: 39px;
  height: 39px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 93%;
}

.hero-swiper-next {
  left: 110px;
}

.hero-swiper-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 50px;
}

.hero-swiper-prev:focus-visible, .hero-swiper-next:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 4px;
  border-radius: 50%;
}

.hero-right {
  position: relative;
  text-align: center;
}

.hero-slide img {
  border-radius: 10px;
}

.hero-content {
  padding-top: 20px;
  padding-bottom: 105px;
}

.hero-title {
  max-width: 70%;
  margin-bottom: 27px;
  line-height: 64px;
  color: #FFFFFF;
}

.hero-info {
  display: inline-block;
  padding: 0 24px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  color: #FFFFFF;
  background-color: #F47648;
  border-radius: 16px;
}

.hero-descr {
  max-width: 60%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero-btn {
  max-width: 200px;
  margin-bottom: 150px;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #FFFFFF;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.hero-btn:hover {
  -webkit-box-shadow: 0px 2px 0px 0px white;
  box-shadow: 0px 2px 0px 0px white;
}

.hero-btn:focus-visible {
  outline: 1px solid #275553;
  outline-offset: 5px;
  border-radius: 5px;
  outline-color: #fff;
}

.hero-item:not(:last-child) {
  margin-right: 25px;
}

.hero-item svg path {
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.hero-item:hover svg path {
  fill: #F47648;
}

.hero-link:focus-visible {
  outline: 1px solid #275553;
  outline-offset: 5px;
  border-radius: 5px;
  outline-color: #fff;
}

.hero-link svg {
  width: 20px;
  height: 20px;
}

.btn-text {
  margin-right: 15px;
}

.btn-img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.travel-container {
  background-image: linear-gradient(2.4deg, #000000 12.72%, rgba(0, 0, 0, 0.633721) 44.36%, rgba(0, 0, 0, 0) 70.61%), url("./img/travel_back.png"), url("./img/travel_img.jpg");
  background-repeat: no-repeat;
  background-position: 0, right 150px, center;
  background-size: auto, auto, cover;
}

.travel-list {
  padding-top: 65px;
  padding-bottom: 100px;
  padding-left: 100px;
  margin-bottom: 280px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15.35%, #FFFFFF), color-stop(43.22%, rgba(255, 255, 255, 0.572235)), color-stop(65.79%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 15.35%, rgba(255, 255, 255, 0.572235) 43.22%, rgba(255, 255, 255, 0) 65.79%);
}

.travel-item:not(:last-child) {
  margin-right: 64px;
}

.travel-text {
  display: block;
  padding-top: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}

.travel-clarification {
  display: block;
  font-weight: 700;
}

.travel-top .travel-info {
  color: #121212;
}

.travel-content {
  padding-top: 120px;
}

.travel-title {
  max-width: 60%;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #121212;
}

.travel-bottom {
  padding-bottom: 147px;
}

.travel-info {
  max-width: 45%;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.8;
}

.travel-descr {
  max-width: 50%;
  color: #313131;
  opacity: 0.8;
}

.background1,
.background2,
.background3,
.background4 {
  background-repeat: no-repeat;
}

.background1 {
  background-image: url("./icon/level.svg");
}

.background2 {
  background-image: url("./icon/calendar.svg");
}

.background3 {
  background-image: url("./icon/clock.svg");
}

.background4 {
  background-image: url("./icon/hotels.svg");
}

.quote-text {
  max-width: 305px;
  margin-bottom: 13px;
  font-weight: 300;
  line-height: 19px;
  color: #DEDEDE;
}

.quote-author {
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;
}

.quote-link {
  text-decoration: underline;
  color: #fff;
}

.block1-container {
  background-image: url("./img/block1-back.png"), -webkit-gradient(linear, left top, left bottom, color-stop(7.21%, #000000), color-stop(68.74%, rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0))), url("./img/block1-back.jpg");
  background-image: url("./img/block1-back.png"), linear-gradient(180deg, #000000 7.21%, rgba(0, 0, 0, 0.31) 68.74%, rgba(0, 0, 0, 0) 100%), url("./img/block1-back.jpg");
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  background-position: bottom, 0, 0;
}

.block1-content {
  padding-top: 80px;
  padding-bottom: 265px;
}

.block1-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.block1-swiper {
  padding-left: 20px;
}

.schedule-title {
  max-width: 458px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

.schedule-info {
  color: #F47648;
}

.schedule-descr {
  max-width: 461px;
  color: #ACACAC;
}

.block1-slide {
  position: relative;
}

.block1-slide img {
  border-radius: 10px;
}

.block1-swiper {
  padding-top: 160px;
}

.block1-swiper-next, .block1-swiper-prev {
  width: 39px;
  height: 39px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 91%;
}

.block1-swiper-next {
  left: 75px;
}

.block1-swiper-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block1-swiper-prev:focus-visible, .block1-swiper-next:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 4px;
  border-radius: 50%;
}

.block2-swiper {
  height: 320px;
  margin-right: 35px;
}

.block2-bottom {
  padding-top: 50px;
}

.block2-slide {
  position: relative;
}

.block2-slide img {
  border-radius: 10px;
}

.block2-swiper-next, .block2-swiper-prev {
  width: 39px;
  height: 39px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  background-image: url("./icon/right_arrow_black.svg");
  top: 90%;
}

.block2-swiper-next {
  left: 700px;
}

.block2-swiper-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 640px;
}

.block2-swiper-prev:focus-visible, .block2-swiper-next:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 4px;
  border-radius: 50%;
}

.block2-content {
  padding-left: 100px;
  padding-top: 65px;
  padding-bottom: 150px;
}

.block2-top {
  padding-bottom: 65px;
  background-image: url("./img/block2-back.png");
  background-repeat: no-repeat;
  background-position: right 20%;
}

.block2-top .schedule-title {
  max-width: 856px;
  color: #212121;
}

.block2-bottom .paragraph,
.block2-top .paragraph {
  color: #313131;
}

.block2-top .schedule-descr {
  max-width: 548px;
}

.block2-bottom .schedule-descr {
  padding-bottom: 0;
}

.slide-descr {
  position: absolute;
  max-width: 290px;
  padding-left: 25px;
  top: 140px;
  left: 0;
  color: #fff;
}

.slide-text {
  font-size: 14px;
}

.paragraph-text {
  color: #fff;
}

.paragraph:not(:last-child) {
  margin-bottom: 15px;
}

.expectations-content {
  padding: 80px 0;
}

.expectations-container {
  background-color: #F1F1F1;
}

.expectations-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #000000;
}

.expectations-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.expectations-element {
  padding: 32px 24px;
}

.expectations-item:not(:last-child) {
  margin-right: 32px;
}

.expectations-subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}

.expectations-descr {
  font-size: 14px;
  color: #5A5A5A;
}

.expectations-block {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.item1,
.item2,
.item3,
.item4 {
  background-repeat: no-repeat;
  background-size: cover;
}

.item1 {
  background-image: url("./img/expectations_back1.jpg");
}

.item2 {
  background-image: url("./img/expectations_back2.jpg");
}

.item3 {
  background-image: url("./img/expectations_back3.jpg");
}

.item4 {
  background-image: url("./img/expectations_back4.jpg");
}

.block3-container {
  background-image: linear-gradient(179.37deg, #FFFFFF 1.87%, rgba(255, 255, 255, 0.572235) 58.73%, rgba(255, 255, 255, 0) 94.86%), linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.572235) 12.21%, rgba(0, 0, 0, 0) 38.82%), url("./img/block3-back.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.block3-content {
  padding-top: 80px;
}

.block3-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.block3-right .schedule-title {
  margin-bottom: 48px;
  color: #212121;
}

.block3-right .schedule-descr {
  padding-bottom: 288px;
  color: #212121;
}

.block3-swiper {
  height: 320px;
  margin-right: 50px;
  padding-right: 40px;
}

.block3-bottom {
  padding-top: 50px;
}

.block3-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block3-slide img {
  border-radius: 10px;
}

.block3-swiper-next, .block3-swiper-prev {
  width: 39px;
  height: 39px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  background-image: url("./icon/right_arrow_black.svg");
  top: 90%;
}

.block3-swiper-next {
  left: 625px;
}

.block3-swiper-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 550px;
}

.block3-swiper-prev:focus-visible, .block3-swiper-next:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 4px;
  border-radius: 50%;
}

.block4-container {
  background-color: #000000;
  background-image: url("./img/block4-back.png");
  background-repeat: no-repeat;
  background-position: 955px 355px;
}

.block4-content {
  padding-top: 105px;
  padding-bottom: 85px;
}

.block4-left .schedule-title {
  max-width: 505px;
}

.block4-left .schedule-descr {
  max-width: 100%;
}

.block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20.21%, rgba(0, 0, 0, 0.572235)), color-stop(88.82%, rgba(0, 0, 0, 0))), url("./img/block1-back.png"), url("./img/block-img.jpg");
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.572235) 20.21%, rgba(0, 0, 0, 0) 88.82%), url("./img/block1-back.png"), url("./img/block-img.jpg");
  background-repeat: no-repeat;
  background-position: 0, bottom, 0;
}

.block5-swiper {
  max-height: 475px;
  margin-right: 35px;
  padding-top: 150px;
  padding-right: 25px;
}

.block5-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 625px;
  width: 44px;
}

.block5-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 91%;
  left: 550px;
}

.block5-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block5-slide img {
  border-radius: 10px;
}

.block5-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-bottom: 190px;
}

.block5-right .schedule-title {
  padding-top: 38px;
}

.block5-right .schedule-descr {
  color: #fff;
}

.block6-slide .slide-descr {
  padding-top: 35px;
}

.block6-content {
  padding-bottom: 217px;
}

.block6-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.block6-left .schedule-descr {
  margin-bottom: 35px;
  color: #fff;
}

.block6-swiper {
  max-height: 475px;
  padding-top: 150px;
  margin-right: 35px;
}

.block6-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 625px;
  width: 44px;
}

.block6-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 91%;
  left: 550px;
}

.block6-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block6-slide img {
  border-radius: 10px;
}

.services-title {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.services-text {
  margin-right: auto;
  font-weight: 700;
  color: #fff;
}

.services-descr {
  font-size: 14px;
  color: #BABABA;
}

.services-item {
  max-width: 480px;
  padding: 16px 0;
  border-bottom: 1px solid #BABABA;
}

.block7-content {
  padding-left: 100px;
}

.block7-top {
  /* background-image: url('./img/block7-back1.png'), url('./img/block7-back2.png'), url('./img/block7-back3.png'), url('./img/block7-img.jpg'); */
  background-image: url("./img/block7-back.png");
  background-repeat: no-repeat;
  background-position: right;
}

.block7-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-bottom: 75px;
}

.block7-right .services-title {
  color: #000;
}

.block7-right .services-text {
  color: #000;
}

.block7-swiper {
  max-height: 500px;
  padding-top: 20px;
  margin-right: 35px;
}

.block7-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 530px;
  width: 44px;
}

.block7-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 90%;
  left: 470px;
}

.block7-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block7-slide img {
  border-radius: 10px;
}

.top-left .schedule-title {
  max-width: 635px;
  color: #212121;
}

.top-left .schedule-descr {
  max-width: 570px;
  color: #313131;
}

.top-left {
  /* padding-top: 60px; */
}

.block8-container {
  background-image: url("./img/block8-back.png");
}

.block8-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 143px;
  padding-bottom: 160px;
}

.block8-content .schedule-descr {
  color: #fff;
}

.price-block {
  margin-bottom: 70px;
}

.price-content {
  padding-top: 120px;
  padding-bottom: 134px;
}

.price-title {
  margin-bottom: 76px;
}

.price-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.price-btn {
  padding-bottom: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #212121;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.price-btn svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.price-btn:hover {
  -webkit-box-shadow: 0px 3px 0px 0px black;
  box-shadow: 0px 3px 0px 0px black;
}

.price-info {
  margin-right: auto;
}

.price-info, .price-price {
  font-size: 20px;
  color: #000000;
}

.price-subtitle {
  margin-bottom: 20px;
  padding-left: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.left-list {
  margin-right: 137px;
}

.left-item {
  padding: 47px 0;
  border-bottom: 1px solid #000000;
}

.right-link {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F47648;
}

.right-list {
  padding-top: 49px;
  margin-bottom: 110px;
}

.right-item:not(:last-child) {
  margin-bottom: 24px;
}

.bottom-left {
  margin-right: 43px;
  padding-left: 20px;
  color: #275553;
}

.bottom-left .price-subtitle {
  background-image: url("./icon/check.svg");
  background-repeat: no-repeat;
}

.bottom-right .price-subtitle {
  background-image: url("./icon/check2.svg");
  background-repeat: no-repeat;
}

.bottom-item:not(:last-child) {
  margin-bottom: 16px;
}

.bottom-list {
  max-width: 385px;
  list-style-type: disc;
}

.request-container {
  background-image: url("./img/request_back.jpg");
  background-repeat: no-repeat;
  background-position: 0% bottom;
}

.request-content {
  padding-bottom: 72px;
  border-top: 4px solid #212121;
}

.request-top {
  padding-top: 96px;
  margin-bottom: 218px;
}

.request-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.request-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #212121;
}

.request-bottom {
  padding-top: 44px;
  padding-bottom: 72px;
  padding-left: 275px;
  background-image: url("./img/book.png");
  background-repeat: no-repeat;
  background-position: -10%;
}

.request-descr {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.top-title {
  margin-bottom: 30px;
}

.form-top {
  margin-bottom: 48px;
}

.form-btn {
  padding: 8px 32px;
  background: #F47648;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.form-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form-btn:focus-visible {
  outline: 2px solid #F47648;
  outline-offset: 4px;
}

.name, .amount {
  display: inline-block;
}

.name input, .amount input {
  padding: 13px 0;
  font-size: 20px;
  color: #999999;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.name {
  margin-right: 45px;
}

.name label,
.amount label {
  display: block;
  font-size: 14px;
}

.name input:focus-visible,
.amount input:focus-visible {
  border-color: #F47648;
}

.rate {
  margin-bottom: 38px;
}

.rate-title {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 14px;
}

.rate-input {
  margin-right: auto;
}

.rate-input label {
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}

.rate-item {
  padding: 5px 0;
}

.rate-item:not(:last-child) {
  margin-bottom: 35px;
}

.rate-input:focus-visible {
  outline: 1px solid red;
}

.rate #radio1:focus-visible {
  outline: 1px solid red;
}

.date {
  margin-bottom: 38px;
}

.date label {
  display: block;
  font-size: 14px;
}

.date input {
  width: 260px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.comment {
  margin-bottom: 50px;
}

.comment label {
  display: block;
}

.comment textarea {
  height: 40px;
  padding: 10px 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.comment textarea:focus-visible {
  border-color: #F47648;
}

.bottom-title {
  color: #fff;
}

.bottom-input {
  width: 563px;
  margin-right: 24px;
  font-size: 20px;
  color: #999999;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
}

.bottom-btn {
  padding: 8px 35px;
  background: #F47648;
  border-radius: 5px;
  color: #fff;
}

.about-content {
  padding-top: 120px;
  padding-bottom: 234px;
}

.about-title {
  max-width: 70%;
  margin-bottom: 59px;
  font-weight: 700;
  line-height: 72px;
  color: #121212;
}

.about-descr {
  max-width: 511px;
  margin-bottom: 79px;
  color: #313131;
  opacity: 0.8;
}

.about-item:not(:last-child) {
  margin-right: 96px;
}

.about-foto {
  margin-bottom: 24px;
}

.about-info {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.about-link {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F47648;
}

.footer-container {
  padding-top: 62px;
  padding-bottom: 25px;
  background-color: #212121;
}

.footer-logo {
  display: block;
  margin-bottom: 40px;
}

.footer-link {
  padding-bottom: 3px;
  color: #BABABA;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.footer-link:hover {
  -webkit-box-shadow: 0px 3px 0px 0px white;
  box-shadow: 0px 3px 0px 0px white;
}

.footer-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 5px;
  border-radius: 5px;
}

.footer-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 30px;
}

.footer-column:not(:last-child) {
  border-right: 1px solid #535353;
}

.footer-row {
  margin-bottom: 22px;
  padding-bottom: 42px;
  border-bottom: 2px solid #363636;
}

.footer-info {
  font-size: 14px;
  color: #FFFFFF;
}

.footer-btn {
  padding: 8px 34px;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.footer-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer-elem {
  margin-bottom: 16px;
}

.footer-foto {
  max-width: 613px;
  text-align: center;
  font-size: 0;
}

.footer-foto img {
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-text {
  margin-bottom: 10px;
  font-weight: 900;
  color: #FFFFFF;
}

.footer-block {
  margin-bottom: 45px;
  padding-left: 90px;
  background-image: url("./img/footer_back.png");
  background-repeat: no-repeat;
}

.footer-block .footer-link {
  color: #BABABA;
}

.footer-phone {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer-time {
  display: block;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 32px;
  color: #BABABA;
}

.footer-email, .footer-address {
  display: block;
  padding-left: 25px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.footer-email {
  margin-bottom: 12px;
  background-image: url("./icon/mail.svg");
}

.footer-address {
  background-image: url("./icon/address.svg");
}

.social-item:not(:last-child) {
  margin-right: 45px;
}

.social-link svg path {
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.social-link:hover svg path {
  fill: #F47648;
}

.social-link:focus-visible {
  outline: 1px solid #F47648;
  outline-offset: 4px;
  border-radius: 5px;
}

.column-link {
  margin-right: 25px;
  font-weight: 700;
  line-height: 28px;
  color: #BABABA;
}

.btn-up {
  position: fixed;
  right: 250px;
  bottom: 100px;
  z-index: 5;
}

.btn-up svg {
  max-width: 45px;
  max-height: 45px;
  fill: #275553;
}

@media (max-width: 1300px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 1024px) {
  .hero-descr {
    max-width: 90%;
  }
  .expectations-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .expectations-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 48%;
            flex: 1 0 48%;
  }
  .expectations-item:not(:last-child) {
    margin-right: 0;
  }
  .expectations-item:nth-child(odd) {
    margin-right: 15px;
  }
}

@media (max-width: 920px) {
  .header-nav {
    display: none;
  }
  .nav-btn {
    margin-right: 29px;
  }
  .burger-btn {
    display: block;
  }
  .hero-title {
    max-width: 100%;
  }
  .hero-swiper {
    max-width: 365px;
  }
  .travel-title {
    max-width: 80%;
  }
  .travel-info {
    max-width: 65%;
  }
  .travel-descr {
    max-width: 70%;
  }
  .travel-bottom {
    padding-bottom: 35px;
  }
}

@media (max-width: 680px) {
  .hero-title {
    font-size: 48px;
    line-height: 48px;
  }
  .hero-info {
    font-size: 24px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=styles.css.map */