* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-size: 64px;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: local("Italic"), url("./fonts/montserrat-italic-webfont.woff2") format("woff2"), url("./fonts/montserrat-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Light"), url("./fonts/montserrat-light-webfont.woff2") format("woff2"), url("./fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Medium"), url("./fonts/montserrat-medium-webfont.woff2") format("woff2"), url("./fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Bold"), url("./fonts/montserrat-bold-webfont.woff2") format("woff2"), url("./fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Regular"), url("./fonts/montserrat-regular-webfont.woff2") format("woff2"), url("./fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Semibold"), url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("./fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #313131;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-content {
  padding: 36px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  margin-right: auto;
}

.nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  line-height: 19px;
  color: #275553;
  -webkit-transition: -webkit-box-shadow .5s ease;
  transition: -webkit-box-shadow .5s ease;
  transition: box-shadow .5s ease;
  transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
}

.nav-link:hover {
  -webkit-box-shadow: 0px 3px 0px 0px #275553;
  box-shadow: 0px 3px 0px 0px #275553;
}

.nav-item:not(:last-child) {
  margin-right: 56px;
}

.nav-item:last-child {
  margin-right: auto;
}

.nav-btn {
  line-height: 19px;
  color: #275553;
  padding: 10px 32px;
  border: 1px solid #275553;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  /* transition: color .5s ease;
        transition: border-color .5s ease; */
}

.nav-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  /*  color: #fff;
        border-color: #fff; */
}

.main-block {
  position: relative;
  /* background-image: url('./img/main_img1.jpg');
        background-repeat: no-repeat;
        background-size: cover; */
}

.main-swiper {
  position: absolute;
  max-height: 833px;
  width: 100%;
}

.main-wrapper {
  -webkit-transform: none;
          transform: none;
}

.header, .hero {
  position: relative;
  z-index: 3;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: '';
}

.swiper-slide-active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero-swiper {
  position: relative;
  max-width: 550px;
  height: 350px;
}

.hero-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 93%;
  left: 75px;
  width: 44px;
}

.hero-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 91%;
  left: 10px;
}

.hero-right {
  position: relative;
}

.hero-slide img {
  border-radius: 10px;
}

.hero-content {
  padding-top: 20px;
  padding-bottom: 105px;
}

.hero-title {
  max-width: 70%;
  margin-bottom: 27px;
  line-height: 64px;
  color: #FFFFFF;
}

.hero-info {
  display: inline-block;
  padding: 0 24px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 56px;
  color: #FFFFFF;
  background-color: #F47648;
  border-radius: 16px;
}

.hero-descr {
  max-width: 60%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: underline;
}

.hero-item:not(:last-child) {
  margin-right: 25px;
}

.hero-link svg {
  width: 20px;
  height: 20px;
}

.btn-text {
  margin-right: 15px;
}

.btn-img {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.travel-container {
  background-image: linear-gradient(2.4deg, #000000 12.72%, rgba(0, 0, 0, 0.633721) 44.36%, rgba(0, 0, 0, 0) 70.61%), url("./img/travel_back.png"), url("./img/travel_img.jpg");
  background-repeat: no-repeat;
  background-position: 0, right 150px, center;
  background-size: auto, auto, cover;
}

.travel-list {
  padding-top: 65px;
  padding-bottom: 100px;
  padding-left: 100px;
  margin-bottom: 280px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15.35%, #FFFFFF), color-stop(43.22%, rgba(255, 255, 255, 0.572235)), color-stop(65.79%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFFFFF 15.35%, rgba(255, 255, 255, 0.572235) 43.22%, rgba(255, 255, 255, 0) 65.79%);
}

.travel-item:not(:last-child) {
  margin-right: 64px;
}

.travel-text {
  display: block;
  padding-top: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}

.travel-clarification {
  display: block;
  font-weight: 700;
}

.travel-top .travel-info {
  color: #121212;
}

.travel-content {
  padding-top: 120px;
}

.travel-title {
  max-width: 60%;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #121212;
}

.travel-info {
  max-width: 45%;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 0.8;
}

.travel-descr {
  max-width: 50%;
  color: #313131;
  opacity: 0.8;
}

.background1,
.background2,
.background3,
.background4 {
  background-repeat: no-repeat;
}

.background1 {
  background-image: url("./icon/level.svg");
}

.background2 {
  background-image: url("./icon/calendar.svg");
}

.background3 {
  background-image: url("./icon/clock.svg");
}

.background4 {
  background-image: url("./icon/hotels.svg");
}

.quote {
  padding-bottom: 147px;
}

.quote-text {
  max-width: 305px;
  margin-bottom: 13px;
  font-weight: 300;
  line-height: 19px;
  color: #DEDEDE;
}

.quote-author {
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;
}

.quote-link {
  text-decoration: underline;
  color: #fff;
}

.block1-container {
  background-image: url("./img/block1-back.png"), -webkit-gradient(linear, left top, left bottom, color-stop(7.21%, #000000), color-stop(68.74%, rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0))), url("./img/block1-back.jpg");
  background-image: url("./img/block1-back.png"), linear-gradient(180deg, #000000 7.21%, rgba(0, 0, 0, 0.31) 68.74%, rgba(0, 0, 0, 0) 100%), url("./img/block1-back.jpg");
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  background-position: bottom, 0, 0;
}

.block1-content {
  padding-top: 80px;
  padding-bottom: 265px;
}

.block1-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.schedule-title {
  max-width: 458px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

.schedule-info {
  color: #F47648;
}

.schedule-descr {
  max-width: 461px;
  color: #ACACAC;
}

.block1 {
  /* &-slider {
        max-width: 320px;
        max-height: 320px; 
    } */
}

.block1-slide {
  position: relative;
}

.block1-slide img {
  border-radius: 10px;
}

.block1-swiper {
  padding-top: 210px;
}

.block1-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 75px;
  width: 44px;
}

.block1-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 91%;
  left: 10px;
}

.block2-swiper {
  height: 320px;
  margin-right: 35px;
}

.block2-bottom {
  padding-top: 50px;
}

.block2-slide {
  position: relative;
}

.block2-slide img {
  border-radius: 10px;
}

.block2-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 700px;
  width: 44px;
}

.block2-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 90%;
  left: 640px;
}

.slide-descr {
  position: absolute;
  max-width: 290px;
  padding-left: 25px;
  top: 140px;
  left: 0;
  color: #fff;
}

.slide-text {
  font-size: 14px;
}

.paragraph-text {
  color: #fff;
}

.paragraph:not(:last-child) {
  margin-bottom: 15px;
}

.block2-content {
  padding-left: 100px;
  padding-top: 65px;
  padding-bottom: 150px;
}

.block2-top {
  padding-bottom: 65px;
  background-image: url("./img/block2-back.png");
  background-repeat: no-repeat;
  background-position: right 20%;
}

.block2-top .schedule-title {
  max-width: 856px;
  color: #212121;
}

.block2-bottom .paragraph,
.block2-top .paragraph {
  color: #313131;
}

.block2-top .schedule-descr {
  max-width: 548px;
}

.block2-bottom .schedule-descr {
  padding-bottom: 0;
}

.expectations-content {
  padding: 80px 0;
}

.expectations-container {
  background-color: #F1F1F1;
}

.expectations-title {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  color: #000000;
}

.expectations-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
  padding: 180px 24px 32px 24px;
  background-color: #fff;
  border-radius: 5px;
}

.expectations-item:not(:last-child) {
  margin-right: 32px;
}

.expectations-subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}

.expectations-descr {
  font-size: 14px;
  color: #5A5A5A;
}

.item1 {
  background-image: url("./img/expectations_back1.jpg");
  background-repeat: no-repeat;
}

.item2 {
  background-image: url("./img/expectations_back2.jpg");
  background-repeat: no-repeat;
}

.item3 {
  background-image: url("./img/expectations_back3.jpg");
  background-repeat: no-repeat;
}

.item4 {
  background-image: url("./img/expectations_back4.jpg");
  background-repeat: no-repeat;
}

.block3-container {
  background-image: linear-gradient(179.37deg, #FFFFFF 1.87%, rgba(255, 255, 255, 0.572235) 58.73%, rgba(255, 255, 255, 0) 94.86%), linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.572235) 12.21%, rgba(0, 0, 0, 0) 38.82%), url("./img/block3-back.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.block3-content {
  padding-top: 80px;
}

.block3-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.block3-right .schedule-title {
  margin-bottom: 48px;
  color: #212121;
}

.block3-right .schedule-descr {
  padding-bottom: 288px;
  color: #212121;
}

.block3-swiper {
  height: 320px;
  margin-right: 50px;
}

.block3-bottom {
  padding-top: 50px;
}

.block3-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block3-slide img {
  border-radius: 10px;
}

.block3-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 625px;
  width: 44px;
}

.block3-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 90%;
  left: 550px;
}

.block4-container {
  background-color: #000000;
  background-image: url("./img/block4-back.png");
  background-repeat: no-repeat;
  background-position: 955px 355px;
}

.block4-content {
  padding-top: 105px;
  padding-bottom: 85px;
}

.block4-left .schedule-title {
  max-width: 505px;
}

.block4-left .schedule-descr {
  max-width: 100%;
}

.block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(20.21%, rgba(0, 0, 0, 0.572235)), color-stop(88.82%, rgba(0, 0, 0, 0))), url("./img/block1-back.png"), url("./img/block-img.jpg");
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.572235) 20.21%, rgba(0, 0, 0, 0) 88.82%), url("./img/block1-back.png"), url("./img/block-img.jpg");
  background-repeat: no-repeat;
  background-position: 0, bottom, 0;
}

.block5-swiper {
  max-height: 475px;
  padding-top: 150px;
  margin-right: 35px;
}

.block5-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 625px;
  width: 44px;
}

.block5-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 91%;
  left: 550px;
}

.block5-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block5-slide img {
  border-radius: 10px;
}

.block5-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-bottom: 190px;
}

.block5-right .schedule-title {
  padding-top: 38px;
}

.block5-right .schedule-descr {
  color: #fff;
}

.block6-slide .slide-descr {
  padding-top: 35px;
}

.block6-content {
  padding-bottom: 217px;
}

.block6-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.block6-left .schedule-descr {
  margin-bottom: 35px;
  color: #fff;
}

.block6-swiper {
  max-height: 475px;
  padding-top: 150px;
  margin-right: 35px;
}

.block6-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 625px;
  width: 44px;
}

.block6-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 91%;
  left: 550px;
}

.block6-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block6-slide img {
  border-radius: 10px;
}

.services-title {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.services-text {
  margin-right: auto;
  font-weight: 700;
  color: #fff;
}

.services-descr {
  font-size: 14px;
  color: #BABABA;
}

.services-item {
  max-width: 480px;
  padding: 16px 0;
  border-bottom: 1px solid #BABABA;
}

.block7-content {
  padding-left: 100px;
}

.block7-top {
  /* background-image: url('./img/block7-back1.png'), url('./img/block7-back2.png'), url('./img/block7-back3.png'), url('./img/block7-img.jpg'); */
  background-image: url("./img/block7-back.png");
  background-repeat: no-repeat;
  background-position: right;
}

.block7-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding-bottom: 75px;
}

.block7-right .services-title {
  color: #000;
}

.block7-right .services-text {
  color: #000;
}

.block7-swiper {
  max-height: 500px;
  padding-top: 20px;
  margin-right: 35px;
}

.block7-swiper-next {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  top: 92%;
  left: 530px;
  width: 44px;
}

.block7-swiper-prev {
  width: 44px;
  background-image: url("./icon/right_arrow_black.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 90%;
  left: 470px;
}

.block7-slide {
  position: relative;
  top: 0;
  left: 150px;
}

.block7-slide img {
  border-radius: 10px;
}

.top-left .schedule-title {
  max-width: 635px;
  color: #212121;
}

.top-left .schedule-descr {
  max-width: 570px;
  color: #313131;
}

.top-left {
  /* padding-top: 60px; */
}

.block8-container {
  background-image: url("./img/block8-back.png");
}

.block8-content {
  padding-top: 143px;
  padding-left: 413px;
  padding-bottom: 160px;
}

.block8-content .schedule-descr {
  color: #fff;
}

.price-block {
  margin-bottom: 70px;
}

.price-content {
  padding-top: 120px;
  padding-bottom: 134px;
}

.price-title {
  margin-bottom: 76px;
}

.price-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.price-btn {
  padding: 20px 89px 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #212121;
  /* background-image: url('./icon/right_arrow_black.svg');
        background-repeat: no-repeat;
        background-position: right; */
}

.price-btn svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.price-info {
  margin-right: auto;
}

.price-info, .price-price {
  font-size: 20px;
  color: #000000;
}

.price-subtitle {
  margin-bottom: 20px;
  padding-left: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.left-list {
  margin-right: 137px;
}

.left-item {
  padding: 47px 0;
  border-bottom: 1px solid #000000;
}

.right-link {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F47648;
}

.right-list {
  padding-top: 49px;
  margin-bottom: 110px;
}

.right-item:not(:last-child) {
  margin-bottom: 24px;
}

.bottom-left {
  margin-right: 43px;
  color: #275553;
}

.bottom-left .price-subtitle {
  background-image: url("./icon/check.svg");
  background-repeat: no-repeat;
}

.bottom-right .price-subtitle {
  background-image: url("./icon/check2.svg");
  background-repeat: no-repeat;
}

.bottom-item:not(:last-child) {
  margin-bottom: 16px;
}

.bottom-list {
  max-width: 385px;
  list-style-type: disc;
}

.request-container {
  background-image: url("./img/request_back.jpg");
  background-repeat: no-repeat;
  background-position: 0% bottom;
}

.request-content {
  padding-bottom: 72px;
  border-top: 4px solid #212121;
}

.request-top {
  padding-top: 96px;
  margin-bottom: 218px;
}

.request-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.request-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #212121;
}

.request-bottom {
  padding-top: 44px;
  padding-bottom: 72px;
  padding-left: 275px;
  background-image: url("./img/book.png");
  background-repeat: no-repeat;
  background-position: -10%;
}

.request-descr {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.top-title {
  margin-bottom: 30px;
}

.social-item:not(:last-child) {
  margin-right: 45px;
}

.form-top {
  margin-bottom: 48px;
}

.form-btn {
  padding: 8px 32px;
  background: #F47648;
  border-radius: 5px;
}

.name, .amount {
  display: inline-block;
}

.name input, .amount input {
  padding: 13px 0;
  font-size: 20px;
  color: #999999;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.name {
  margin-right: 45px;
}

.name label,
.amount label {
  display: block;
  font-size: 14px;
}

.rate {
  margin-bottom: 38px;
}

.rate-title {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 14px;
}

.rate-input {
  display: inline-block;
}

.rate-input label {
  font-size: 18px;
  color: #000000;
}

.rate-item {
  padding: 5px 0;
}

.rate-item:not(:last-child) {
  margin-bottom: 35px;
}

.date {
  margin-bottom: 38px;
}

.date label {
  display: block;
  font-size: 14px;
}

.date input {
  width: 260px;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.comment {
  margin-bottom: 50px;
}

.comment label {
  display: block;
}

.comment textarea {
  height: 40px;
  padding: 10px 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #212121;
  background-color: transparent;
}

.bottom-title {
  color: #fff;
}

.bottom-input {
  width: 563px;
  margin-right: 24px;
  font-size: 20px;
  color: #999999;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
}

.bottom-btn {
  padding: 8px 35px;
  background: #F47648;
  border-radius: 5px;
  color: #fff;
}

.about-content {
  padding-top: 120px;
  padding-bottom: 234px;
}

.about-title {
  max-width: 70%;
  margin-bottom: 59px;
  font-weight: 700;
  line-height: 72px;
  color: #121212;
}

.about-descr {
  max-width: 511px;
  margin-bottom: 79px;
  color: #313131;
  opacity: 0.8;
}

.about-item:not(:last-child) {
  margin-right: 96px;
}

.about-foto {
  margin-bottom: 24px;
}

.about-info {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.about-link {
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #F47648;
}

.footer-container {
  padding-top: 62px;
  padding-bottom: 25px;
  background-color: #212121;
}

.footer-logo {
  display: block;
  margin-bottom: 40px;
}

.footer-link {
  color: #BABABA;
}

.footer-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0 30px;
}

.footer-column:not(:last-child) {
  border-right: 1px solid #535353;
}

.footer-row {
  margin-bottom: 22px;
  padding-bottom: 42px;
  border-bottom: 2px solid #363636;
}

.footer-info {
  font-size: 14px;
  color: #FFFFFF;
}

.footer-btn {
  padding: 8px 34px;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

.footer-elem {
  margin-bottom: 16px;
}

.footer-foto {
  max-width: 613px;
  text-align: center;
  font-size: 0;
}

.footer-foto img {
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-text {
  margin-bottom: 10px;
  font-weight: 900;
  color: #FFFFFF;
}

.footer-block {
  margin-bottom: 45px;
  padding-left: 90px;
  background-image: url("./img/footer_back.png");
  background-repeat: no-repeat;
}

.footer-block .footer-link {
  color: #BABABA;
}

.footer-phone {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer-time {
  display: block;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 32px;
  color: #BABABA;
}

.footer-email, .footer-address {
  display: block;
  padding-left: 25px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.footer-email {
  margin-bottom: 12px;
  background-image: url("./icon/mail.svg");
}

.footer-address {
  background-image: url("./icon/address.svg");
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

.column-link {
  margin-right: 25px;
  font-weight: 700;
  line-height: 28px;
  color: #BABABA;
}
/*# sourceMappingURL=styles.css.map */